* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: rgb(255, 244, 225);
  }

.BI{
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    color: rgb(109, 85, 89);
}

.humanInfo{
    color: rgb(92, 92, 92);
    text-align: center;
    margin-top: 25px;
}

.humanInfo h1{
    color: rgb(81, 72, 119);
}